.display {
  display: flex;
}

.mainDay {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-color: white;
  color: white;
  height: 250px;
  width: 200px;
  margin-right: 2.5px;
}

.mainDay-Day {
  text-align: center;
  margin-top: 50px;
  color: lightgreen;
  font-weight: 900;
  font-size: 20px;

}

.mainDay-Date {
  text-align: center;
  font-weight: 400;
  font-size: 100px;
}

.month {
  border-color: white;
  background-color: black;
  height: 250px;
  width: 250px;
  color: white;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.table {
  color: white
  
}

.header {
  align-self: center;
}

.button {
  margin: 20px;
}


.highlight {
  color: lightgreen;
}
